@model IEnumerable<Reviews.Model.Movie>

@{
    Layout = "/Views/Shared/_default.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/CSS/LayOut.css">

<link href="https://fonts.googleapis.com/css?family=Condiment|Playfair+Display+SC|Quicksand&display=swap" rel="stylesheet">

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1> Horrific Reviews</h1>
    </div>
    <main>
        @foreach (var item in Model)
        {

            <a href="/Movie/SingleMovie/@item.MovieId">
                <img src="~/Images/@item.ImageUrl" alt="Alternate Text" />
                <h3>@item.Title</h3>
            </a>
        }
    </main>
</body>
</html>
