@model IEnumerable<Reviews.Model.Movie>

@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/CSS/LayOut.css">

<link href="https://fonts.googleapis.com/css?family=Condiment|Playfair+Display+SC|Quicksand&display=swap" rel="stylesheet">

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav>
        <h1> Horrific Reviews</h1>
    </nav>
    <main>
        @foreach (var item in Model)
        {
            <a href="Review/Single/@item.MovieId">
                <img src="~/Images/@item.ImageUrl" alt="Alternate Text" />
                <h3>@item.Title</h3>
            </a>
        }
    </main>
    <footer> Copyright 2019</footer>
    <nav></nav>
</body>
</html>
