@model Reviews.Model.Movie

@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/CSS/LayOut.css">

<link href="https://fonts.googleapis.com/css?family=Condiment|Playfair+Display+SC|Quicksand&display=swap" rel="stylesheet">

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Single</title>
</head>
<body>
    <nav>
        <h1>Horrific Reviews</h1>
    </nav>
    <main>

        <img src="~/Images/@Model.ImageUrl" alt="Alternate Text" />
        <h3>@Model.Title</h3>
        <p>@Model.Description</p><br />
        @foreach (var review in Model.Reviews)
        {
            if (review.MovieId == Model.MovieId)
            {
                <p>@review.Content</p>
            }
        }

    </main>
    <footer> Copyright 2019</footer>
    <nav></nav>
</body>
</html>
