@model Reviews.Model.Movie

@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/CSS/LayOut.css">

<link href="https://fonts.googleapis.com/css?family=Condiment|Playfair+Display+SC|Quicksand&display=swap" rel="stylesheet">

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Single</title>
</head>
<body>
    
    <main>
        
        <img src="~/Images/@Model.ImageUrl" alt="Alternate Text" /><br/>
        <h3>@Model.Title</h3>
        <p>@Model.Description</p><br />
        @foreach (var review in Model.Reviews)
        {
            
            <p>@review.Content</p>
            <br />
            <a href="/Review/DeleteReview/@review.ReviewId">Delete Review</a>
            
        }
        <a href="/Review/CreateReview/@Model.MovieId">Create Review</a>
    </main>
    
    <nav>
        <a href="/">Home</a>
        <a href="/Movie/AllMovies">Movies</a>
    </nav>
    <footer> Copyright 2019</footer>
</body>
</html>
