@model IEnumerable<Reviews.Model.Genre>
@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/CSS/LayOut.css">

<link href="https://fonts.googleapis.com/css?family=Condiment|Playfair+Display+SC|Quicksand&display=swap" rel="stylesheet">

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllGenres</title>
</head>
<body>
    <h1>Horrific Genres</h1>
    <main>
        @foreach (var item in Model)
        {
            <a href="Genre/SingleGenre/@item.GenreId">
                @*<img src="~/Images/@item.ImageUrl" alt="Alternate Text" />*@
                <h2>@item.GenreName</h2>
            </a>
        }
    </main>
    <nav>
        <a href="/">Home</a>
        <a href="/Movie/AllMovies">Movies</a>
    </nav>
    <footer> Copyright 2019</footer>
</body>
</html>
