@model IEnumerable<Reviews.Model.Genre>
@{
    Layout = "/Views/Shared/_default.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllGenres</title>
</head>
<body>
    <h1>Horrific Genres</h1>
    <main>
        @foreach (var item in Model)
        {
            <a href="Genre/SingleGenre/@item.GenreId">
                <img src="~/Images/@item.ImageUrl" alt="Alternate Text" />
                <h2>@item.GenreName</h2>
            </a>
        }
    </main>
</body>
</html>
