@model Reviews.Model.Genre
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SingleGenre</title>
</head>
<body>
    <main>
        @*<img src="~/Images/@Model.ImageUrl" alt="Alternate Text" />*@
        <h3>@Model.GenreId</h3>
        <p>@Model.GenreName</p><br />
        @*<p>@Model.RevRepo.GetById(Model.MovieId)</p>*@
    </main>
    <footer> Copyright 2019</footer>
</body>
</html>
