@model Reviews.Model.HorrorReviews

@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/CSS/LayOut.css">

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Single</title>
</head>
<body>
    <nav>
        <h1>Horrific Reviews</h1>
    </nav>
    <main>

        <img src="~/Images/@Model.ImageUrl" alt="Alternate Text" />
        <p>@Model.Title</p>
        <p>@Model.Description</p>
        <p>@Model.Content</p>

    </main>
    <footer> Copyright 2019</footer>
    <nav></nav>
</body>
</html>
